@page "/manifests/edit/{id:int}"

<h3>Edit Manifest</h3>

@if (isLoaded == false)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <EditForm Model="@manifest" OnValidSubmit="Update">
            <div class="form-group">
                <strong><label>Id: </label> @Id</strong>
            </div>

            <div class="form-group">
                <label>Shipped: </label>
                <InputDate @bind-Value="manifest.DateShipped" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Update manifest" />
                <NavLink href="/manifests/list" class="btn btn-info">Back to manifests</NavLink>
            </div>
        </EditForm>
    </div>
}