@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IJSRuntime JS

<div id="viewDiv"></div>

@code {
    [Parameter]
    public string searchTerm { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("RenderMap", searchTerm, Configuration["Esri:ApiKey"]);
        }
    }
}